transformers
diffusers==0.32.2
peft
opencv-python
protobuf
sentencepiece
gradio
jupyter
torchao
img2dataset
ultralytics
lightning
datasets
einops
prodigyopt
scikit-learn
gpustat
tensorboard
pycocotools
addict
basicsr
prettytable
timm